/*
字級與間距擴充模組
*/
/*Font*/
.fw200 {font-weight: 200 !important;}
.fw300 {font-weight: 300 !important;}
.fw400 {font-weight: 400 !important;}
.fw500 {font-weight: 500 !important;}
.fw600 {font-weight: 600 !important;}
.fw700 {font-weight: 700 !important;}

.ls1 {letter-spacing: 1px !important;}
.ls2 {letter-spacing: 2px !important;}
.ls3 {letter-spacing: 3px !important;}
.ls4 {letter-spacing: 4px !important;}
.ls5 {letter-spacing: 5px !important;}

.fz-13 {font-size: 13px !important;}
.fz-15 {font-size: 15px !important;}
.fz-16 {font-size: 16px !important;}
.fz-18 {font-size: 18px !important;}
.fz-20 {font-size: 20px !important;}
.fz-30 {font-size: 30px !important;}
.fz-36 {font-size: 36px !important;}
.fz-48 {font-size: 48px !important;}

/*PADDING AND MARGIN*/
.mt-5{margin-top:5px!important}
.mt-10{margin-top:10px!important}
.mt-15{margin-top:15px!important}
.mt-20{margin-top:20px!important}
.mt-25{margin-top:25px!important}
.mt-30{margin-top:30px!important}
.mt-35{margin-top:35px!important}
.mt-40{margin-top:40px!important}
.mt-45{margin-top:45px!important}
.mt-50{margin-top:50px!important}
.mt-55{margin-top:55px!important}
.mt-60{margin-top:60px!important}
.mt-65{margin-top:65px!important}
.mt-70{margin-top:70px!important}
.mt-75{margin-top:75px!important}
.mt-80{margin-top:80px!important}
.mt-85{margin-top:85px!important}
.mt-90{margin-top:90px!important}
.mt-95{margin-top:95px!important}
.mt-100{margin-top:100px!important}
.mt-105{margin-top:105px!important}
.mt-110{margin-top:110px!important}
.mt-115{margin-top:115px!important}
.mt-120{margin-top:120px!important}
.mt-125{margin-top:125px!important}
.mt-130{margin-top:130px!important}
.mt-135{margin-top:135px!important}
.mt-140{margin-top:140px!important}
.mt-145{margin-top:145px!important}
.mt-150{margin-top:150px!important}
.mt-155{margin-top:155px!important}
.mt-160{margin-top:160px!important}
.mt-165{margin-top:165px!important}
.mt-170{margin-top:170px!important}
.mt-175{margin-top:175px!important}
.mt-180{margin-top:180px!important}
.mt-185{margin-top:185px!important}
.mt-190{margin-top:190px!important}
.mt-195{margin-top:195px!important}
.mt-200{margin-top:200px!important}
.mb-5{margin-bottom:5px!important}
.mb-10{margin-bottom:10px!important}
.mb-15{margin-bottom:15px!important}
.mb-20{margin-bottom:20px!important}
.mb-25{margin-bottom:25px!important}
.mb-30{margin-bottom:30px!important}
.mb-35{margin-bottom:35px!important}
.mb-40{margin-bottom:40px!important}
.mb-45{margin-bottom:45px!important}
.mb-50{margin-bottom:50px!important}
.mb-55{margin-bottom:55px!important}
.mb-60{margin-bottom:60px!important}
.mb-65{margin-bottom:65px!important}
.mb-70{margin-bottom:70px!important}
.mb-75{margin-bottom:75px!important}
.mb-80{margin-bottom:80px!important}
.mb-85{margin-bottom:85px!important}
.mb-90{margin-bottom:90px!important}
.mb-95{margin-bottom:95px!important}
.mb-100{margin-bottom:100px!important}
.mb-105{margin-bottom:105px!important}
.mb-110{margin-bottom:110px!important}
.mb-115{margin-bottom:115px!important}
.mb-120{margin-bottom:120px!important}
.mb-125{margin-bottom:125px!important}
.mb-130{margin-bottom:130px!important}
.mb-135{margin-bottom:135px!important}
.mb-140{margin-bottom:140px!important}
.mb-145{margin-bottom:145px!important}
.mb-150{margin-bottom:150px!important}
.mb-155{margin-bottom:155px!important}
.mb-160{margin-bottom:160px!important}
.mb-165{margin-bottom:165px!important}
.mb-170{margin-bottom:170px!important}
.mb-175{margin-bottom:175px!important}
.mb-180{margin-bottom:180px!important}
.mb-185{margin-bottom:185px!important}
.mb-190{margin-bottom:190px!important}
.mb-195{margin-bottom:195px!important}
.mb-200{margin-bottom:200px!important}
.ml-5{margin-left:5px!important}
.ml-10{margin-left:10px!important}
.ml-15{margin-left:15px!important}
.ml-20{margin-left:20px!important}
.ml-25{margin-left:25px!important}
.ml-30{margin-left:30px!important}
.ml-35{margin-left:35px!important}
.ml-40{margin-left:40px!important}
.ml-45{margin-left:45px!important}
.ml-50{margin-left:50px!important}
.ml-55{margin-left:55px!important}
.ml-60{margin-left:60px!important}
.ml-65{margin-left:65px!important}
.ml-70{margin-left:70px!important}
.ml-75{margin-left:75px!important}
.ml-80{margin-left:80px!important}
.ml-85{margin-left:85px!important}
.ml-90{margin-left:90px!important}
.ml-95{margin-left:95px!important}
.ml-100{margin-left:100px!important}
.ml-105{margin-left:105px!important}
.ml-110{margin-left:110px!important}
.ml-115{margin-left:115px!important}
.ml-120{margin-left:120px!important}
.ml-125{margin-left:125px!important}
.ml-130{margin-left:130px!important}
.ml-135{margin-left:135px!important}
.ml-140{margin-left:140px!important}
.ml-145{margin-left:145px!important}
.ml-150{margin-left:150px!important}
.ml-155{margin-left:155px!important}
.ml-160{margin-left:160px!important}
.ml-165{margin-left:165px!important}
.ml-170{margin-left:170px!important}
.ml-175{margin-left:175px!important}
.ml-180{margin-left:180px!important}
.ml-185{margin-left:185px!important}
.ml-190{margin-left:190px!important}
.ml-195{margin-left:195px!important}
.ml-200{margin-left:200px!important}
.mr-5{margin-right:5px!important}
.mr-10{margin-right:10px!important}
.mr-15{margin-right:15px!important}
.mr-20{margin-right:20px!important}
.mr-25{margin-right:25px!important}
.mr-30{margin-right:30px!important}
.mr-35{margin-right:35px!important}
.mr-40{margin-right:40px!important}
.mr-45{margin-right:45px!important}
.mr-50{margin-right:50px!important}
.mr-55{margin-right:55px!important}
.mr-60{margin-right:60px!important}
.mr-65{margin-right:65px!important}
.mr-70{margin-right:70px!important}
.mr-75{margin-right:75px!important}
.mr-80{margin-right:80px!important}
.mr-85{margin-right:85px!important}
.mr-90{margin-right:90px!important}
.mr-95{margin-right:95px!important}
.mr-100{margin-right:100px!important}
.mr-105{margin-right:105px!important}
.mr-110{margin-right:110px!important}
.mr-115{margin-right:115px!important}
.mr-120{margin-right:120px!important}
.mr-125{margin-right:125px!important}
.mr-130{margin-right:130px!important}
.mr-135{margin-right:135px!important}
.mr-140{margin-right:140px!important}
.mr-145{margin-right:145px!important}
.mr-150{margin-right:150px!important}
.mr-155{margin-right:155px!important}
.mr-160{margin-right:160px!important}
.mr-165{margin-right:165px!important}
.mr-170{margin-right:170px!important}
.mr-175{margin-right:175px!important}
.mr-180{margin-right:180px!important}
.mr-185{margin-right:185px!important}
.mr-190{margin-right:190px!important}
.mr-195{margin-right:195px!important}
.mr-200{margin-right:200px!important}
.p-10{padding:10px!important}
.p-15{padding:15px!important}
.p-20{padding:20px!important}
.p-25{padding:25px!important}
.p-30{padding:30px!important}
.p-50{padding:50px!important}
.p-80{padding:80px!important}
.pt-5{padding-top:5px!important}
.pt-10{padding-top:10px!important}
.pt-15{padding-top:15px!important}
.pt-20{padding-top:20px!important}
.pt-25{padding-top:25px!important}
.pt-30{padding-top:30px!important}
.pt-35{padding-top:35px!important}
.pt-40{padding-top:40px!important}
.pt-45{padding-top:45px!important}
.pt-50{padding-top:50px!important}
.pt-55{padding-top:55px!important}
.pt-60{padding-top:60px!important}
.pt-65{padding-top:65px!important}
.pt-70{padding-top:70px!important}
.pt-75{padding-top:75px!important}
.pt-80{padding-top:80px!important}
.pt-85{padding-top:85px!important}
.pt-90{padding-top:90px!important}
.pt-95{padding-top:95px!important}
.pt-100{padding-top:100px!important}
.pt-105{padding-top:105px!important}
.pt-110{padding-top:110px!important}
.pt-115{padding-top:115px!important}
.pt-120{padding-top:120px!important}
.pt-125{padding-top:125px!important}
.pt-130{padding-top:130px!important}
.pt-135{padding-top:135px!important}
.pt-140{padding-top:140px!important}
.pt-145{padding-top:145px!important}
.pt-150{padding-top:150px!important}
.pt-155{padding-top:155px!important}
.pt-160{padding-top:160px!important}
.pt-165{padding-top:165px!important}
.pt-170{padding-top:170px!important}
.pt-175{padding-top:175px!important}
.pt-180{padding-top:180px!important}
.pt-185{padding-top:185px!important}
.pt-190{padding-top:190px!important}
.pt-195{padding-top:195px!important}
.pt-200{padding-top:200px!important}
.pt-260{padding-top:260px!important}
.pb-5{padding-bottom:5px!important}
.pb-10{padding-bottom:10px!important}
.pb-15{padding-bottom:15px!important}
.pb-20{padding-bottom:20px!important}
.pb-25{padding-bottom:25px!important}
.pb-30{padding-bottom:30px!important}
.pb-35{padding-bottom:35px!important}
.pb-40{padding-bottom:40px!important}
.pb-45{padding-bottom:45px!important}
.pb-50{padding-bottom:50px!important}
.pb-55{padding-bottom:55px!important}
.pb-60{padding-bottom:60px!important}
.pb-65{padding-bottom:65px!important}
.pb-70{padding-bottom:70px!important}
.pb-75{padding-bottom:75px!important}
.pb-80{padding-bottom:80px!important}
.pb-85{padding-bottom:85px!important}
.pb-90{padding-bottom:90px!important}
.pb-95{padding-bottom:95px!important}
.pb-100{padding-bottom:100px!important}
.pb-105{padding-bottom:105px!important}
.pb-110{padding-bottom:110px!important}
.pb-115{padding-bottom:115px!important}
.pb-120{padding-bottom:120px!important}
.pb-125{padding-bottom:125px!important}
.pb-130{padding-bottom:130px!important}
.pb-135{padding-bottom:135px!important}
.pb-140{padding-bottom:140px!important}
.pb-145{padding-bottom:145px!important}
.pb-150{padding-bottom:150px!important}
.pb-155{padding-bottom:155px!important}
.pb-160{padding-bottom:160px!important}
.pb-165{padding-bottom:165px!important}
.pb-170{padding-bottom:170px!important}
.pb-175{padding-bottom:175px!important}
.pb-180{padding-bottom:180px!important}
.pb-185{padding-bottom:185px!important}
.pb-190{padding-bottom:190px!important}
.pb-195{padding-bottom:195px!important}
.pb-200{padding-bottom:200px!important}
.pl-5{padding-left:5px!important}
.pl-10{padding-left:10px!important}
.pl-15{padding-left:15px!important}
.pl-20{padding-left:20px!important}
.pl-25{padding-left:25px!important}
.pl-30{padding-left:30px!important}
.pl-35{padding-left:35px!important}
.pl-40{padding-left:40px!important}
.pl-45{padding-left:45px!important}
.pl-50{padding-left:50px!important}
.pl-55{padding-left:55px!important}
.pl-60{padding-left:60px!important}
.pl-65{padding-left:65px!important}
.pl-70{padding-left:70px!important}
.pl-75{padding-left:75px!important}
.pl-80{padding-left:80px!important}
.pl-85{padding-left:85px!important}
.pl-90{padding-left:90px!important}
.pl-95{padding-left:95px!important}
.pl-100{padding-left:100px!important}
.pl-105{padding-left:105px!important}
.pl-110{padding-left:110px!important}
.pl-115{padding-left:115px!important}
.pl-120{padding-left:120px!important}
.pl-125{padding-left:125px!important}
.pl-130{padding-left:130px!important}
.pl-135{padding-left:135px!important}
.pl-140{padding-left:140px!important}
.pl-145{padding-left:145px!important}
.pl-150{padding-left:150px!important}
.pl-155{padding-left:155px!important}
.pl-160{padding-left:160px!important}
.pl-165{padding-left:165px!important}
.pl-170{padding-left:170px!important}
.pl-175{padding-left:175px!important}
.pl-180{padding-left:180px!important}
.pl-185{padding-left:185px!important}
.pl-190{padding-left:190px!important}
.pl-195{padding-left:195px!important}
.pl-200{padding-left:200px!important}
.pr-5{padding-right:5px!important}
.pr-10{padding-right:10px!important}
.pr-15{padding-right:15px!important}
.pr-20{padding-right:20px!important}
.pr-25{padding-right:25px!important}
.pr-30{padding-right:30px!important}
.pr-35{padding-right:35px!important}
.pr-40{padding-right:40px!important}
.pr-45{padding-right:45px!important}
.pr-50{padding-right:50px!important}
.pr-55{padding-right:55px!important}
.pr-60{padding-right:60px!important}
.pr-65{padding-right:65px!important}
.pr-70{padding-right:70px!important}
.pr-75{padding-right:75px!important}
.pr-80{padding-right:80px!important}
.pr-85{padding-right:85px!important}
.pr-90{padding-right:90px!important}
.pr-95{padding-right:95px!important}
.pr-100{padding-right:100px!important}
.pr-105{padding-right:105px!important}
.pr-110{padding-right:110px!important}
.pr-115{padding-right:115px!important}
.pr-120{padding-right:120px!important}
.pr-125{padding-right:125px!important}
.pr-130{padding-right:130px!important}
.pr-135{padding-right:135px!important}
.pr-140{padding-right:140px!important}
.pr-145{padding-right:145px!important}
.pr-150{padding-right:150px!important}
.pr-155{padding-right:155px!important}
.pr-160{padding-right:160px!important}
.pr-165{padding-right:165px!important}
.pr-170{padding-right:170px!important}
.pr-175{padding-right:175px!important}
.pr-180{padding-right:180px!important}
.pr-185{padding-right:185px!important}
.pr-190{padding-right:190px!important}
.pr-195{padding-right:195px!important}
.pr-200{padding-right:200px!important}
@media (max-width: 576px) {
.xs-fw200 {font-weight: 200 !important;}
.xs-fw300 {font-weight: 300 !important;}
.xs-fw400 {font-weight: 400 !important;}
.xs-fw500 {font-weight: 500 !important;}
.xs-fw600 {font-weight: 600 !important;}
.xs-fw700 {font-weight: 700 !important;}

.xs-ls1 {letter-spacing: 1px !important;}
.xs-ls2 {letter-spacing: 2px !important;}
.xs-ls3 {letter-spacing: 3px !important;}
.xs-ls4 {letter-spacing: 4px !important;}
.xs-ls5 {letter-spacing: 5px !important;}

.xs-fz-13 {font-size: 13px !important;}
.xs-fz-15 {font-size: 15px !important;}
.xs-fz-16 {font-size: 16px !important;}
.xs-fz-18 {font-size: 18px !important;}
.xs-fz-20 {font-size: 20px !important;}
.xs-fz-30 {font-size: 30px !important;}
.xs-fz-36 {font-size: 36px !important;}
.xs-fz-48 {font-size: 48px !important;}

/*PADDING AND MARGIN DECLARE*/
.xs-mt-5{margin-top:5px!important}
.xs-mt-10{margin-top:10px!important}
.xs-mt-15{margin-top:15px!important}
.xs-mt-20{margin-top:20px!important}
.xs-mt-25{margin-top:25px!important}
.xs-mt-30{margin-top:30px!important}
.xs-mt-35{margin-top:35px!important}
.xs-mt-40{margin-top:40px!important}
.xs-mt-45{margin-top:45px!important}
.xs-mt-50{margin-top:50px!important}
.xs-mt-55{margin-top:55px!important}
.xs-mt-60{margin-top:60px!important}
.xs-mt-65{margin-top:65px!important}
.xs-mt-70{margin-top:70px!important}
.xs-mt-75{margin-top:75px!important}
.xs-mt-80{margin-top:80px!important}
.xs-mt-85{margin-top:85px!important}
.xs-mt-90{margin-top:90px!important}
.xs-mt-95{margin-top:95px!important}
.xs-mt-100{margin-top:100px!important}
.xs-mt-105{margin-top:105px!important}
.xs-mt-110{margin-top:110px!important}
.xs-mt-115{margin-top:115px!important}
.xs-mt-120{margin-top:120px!important}
.xs-mt-125{margin-top:125px!important}
.xs-mt-130{margin-top:130px!important}
.xs-mt-135{margin-top:135px!important}
.xs-mt-140{margin-top:140px!important}
.xs-mt-145{margin-top:145px!important}
.xs-mt-150{margin-top:150px!important}
.xs-mt-155{margin-top:155px!important}
.xs-mt-160{margin-top:160px!important}
.xs-mt-165{margin-top:165px!important}
.xs-mt-170{margin-top:170px!important}
.xs-mt-175{margin-top:175px!important}
.xs-mt-180{margin-top:180px!important}
.xs-mt-185{margin-top:185px!important}
.xs-mt-190{margin-top:190px!important}
.xs-mt-195{margin-top:195px!important}
.xs-mt-200{margin-top:200px!important}
.xs-mb-5{margin-bottom:5px!important}
.xs-mb-10{margin-bottom:10px!important}
.xs-mb-15{margin-bottom:15px!important}
.xs-mb-20{margin-bottom:20px!important}
.xs-mb-25{margin-bottom:25px!important}
.xs-mb-30{margin-bottom:30px!important}
.xs-mb-35{margin-bottom:35px!important}
.xs-mb-40{margin-bottom:40px!important}
.xs-mb-45{margin-bottom:45px!important}
.xs-mb-50{margin-bottom:50px!important}
.xs-mb-55{margin-bottom:55px!important}
.xs-mb-60{margin-bottom:60px!important}
.xs-mb-65{margin-bottom:65px!important}
.xs-mb-70{margin-bottom:70px!important}
.xs-mb-75{margin-bottom:75px!important}
.xs-mb-80{margin-bottom:80px!important}
.xs-mb-85{margin-bottom:85px!important}
.xs-mb-90{margin-bottom:90px!important}
.xs-mb-95{margin-bottom:95px!important}
.xs-mb-100{margin-bottom:100px!important}
.xs-mb-105{margin-bottom:105px!important}
.xs-mb-110{margin-bottom:110px!important}
.xs-mb-115{margin-bottom:115px!important}
.xs-mb-120{margin-bottom:120px!important}
.xs-mb-125{margin-bottom:125px!important}
.xs-mb-130{margin-bottom:130px!important}
.xs-mb-135{margin-bottom:135px!important}
.xs-mb-140{margin-bottom:140px!important}
.xs-mb-145{margin-bottom:145px!important}
.xs-mb-150{margin-bottom:150px!important}
.xs-mb-155{margin-bottom:155px!important}
.xs-mb-160{margin-bottom:160px!important}
.xs-mb-165{margin-bottom:165px!important}
.xs-mb-170{margin-bottom:170px!important}
.xs-mb-175{margin-bottom:175px!important}
.xs-mb-180{margin-bottom:180px!important}
.xs-mb-185{margin-bottom:185px!important}
.xs-mb-190{margin-bottom:190px!important}
.xs-mb-195{margin-bottom:195px!important}
.xs-mb-200{margin-bottom:200px!important}
.xs-ml-5{margin-left:5px!important}
.xs-ml-10{margin-left:10px!important}
.xs-ml-15{margin-left:15px!important}
.xs-ml-20{margin-left:20px!important}
.xs-ml-25{margin-left:25px!important}
.xs-ml-30{margin-left:30px!important}
.xs-ml-35{margin-left:35px!important}
.xs-ml-40{margin-left:40px!important}
.xs-ml-45{margin-left:45px!important}
.xs-ml-50{margin-left:50px!important}
.xs-ml-55{margin-left:55px!important}
.xs-ml-60{margin-left:60px!important}
.xs-ml-65{margin-left:65px!important}
.xs-ml-70{margin-left:70px!important}
.xs-ml-75{margin-left:75px!important}
.xs-ml-80{margin-left:80px!important}
.xs-ml-85{margin-left:85px!important}
.xs-ml-90{margin-left:90px!important}
.xs-ml-95{margin-left:95px!important}
.xs-ml-100{margin-left:100px!important}
.xs-ml-105{margin-left:105px!important}
.xs-ml-110{margin-left:110px!important}
.xs-ml-115{margin-left:115px!important}
.xs-ml-120{margin-left:120px!important}
.xs-ml-125{margin-left:125px!important}
.xs-ml-130{margin-left:130px!important}
.xs-ml-135{margin-left:135px!important}
.xs-ml-140{margin-left:140px!important}
.xs-ml-145{margin-left:145px!important}
.xs-ml-150{margin-left:150px!important}
.xs-ml-155{margin-left:155px!important}
.xs-ml-160{margin-left:160px!important}
.xs-ml-165{margin-left:165px!important}
.xs-ml-170{margin-left:170px!important}
.xs-ml-175{margin-left:175px!important}
.xs-ml-180{margin-left:180px!important}
.xs-ml-185{margin-left:185px!important}
.xs-ml-190{margin-left:190px!important}
.xs-ml-195{margin-left:195px!important}
.xs-ml-200{margin-left:200px!important}
.xs-mr-5{margin-right:5px!important}
.xs-mr-10{margin-right:10px!important}
.xs-mr-15{margin-right:15px!important}
.xs-mr-20{margin-right:20px!important}
.xs-mr-25{margin-right:25px!important}
.xs-mr-30{margin-right:30px!important}
.xs-mr-35{margin-right:35px!important}
.xs-mr-40{margin-right:40px!important}
.xs-mr-45{margin-right:45px!important}
.xs-mr-50{margin-right:50px!important}
.xs-mr-55{margin-right:55px!important}
.xs-mr-60{margin-right:60px!important}
.xs-mr-65{margin-right:65px!important}
.xs-mr-70{margin-right:70px!important}
.xs-mr-75{margin-right:75px!important}
.xs-mr-80{margin-right:80px!important}
.xs-mr-85{margin-right:85px!important}
.xs-mr-90{margin-right:90px!important}
.xs-mr-95{margin-right:95px!important}
.xs-mr-100{margin-right:100px!important}
.xs-mr-105{margin-right:105px!important}
.xs-mr-110{margin-right:110px!important}
.xs-mr-115{margin-right:115px!important}
.xs-mr-120{margin-right:120px!important}
.xs-mr-125{margin-right:125px!important}
.xs-mr-130{margin-right:130px!important}
.xs-mr-135{margin-right:135px!important}
.xs-mr-140{margin-right:140px!important}
.xs-mr-145{margin-right:145px!important}
.xs-mr-150{margin-right:150px!important}
.xs-mr-155{margin-right:155px!important}
.xs-mr-160{margin-right:160px!important}
.xs-mr-165{margin-right:165px!important}
.xs-mr-170{margin-right:170px!important}
.xs-mr-175{margin-right:175px!important}
.xs-mr-180{margin-right:180px!important}
.xs-mr-185{margin-right:185px!important}
.xs-mr-190{margin-right:190px!important}
.xs-mr-195{margin-right:195px!important}
.xs-mr-200{margin-right:200px!important}
.xs-p-10{padding:10px!important}
.xs-p-15{padding:15px!important}
.xs-p-20{padding:20px!important}
.xs-p-25{padding:25px!important}
.xs-p-30{padding:30px!important}
.xs-p-50{padding:50px!important}
.xs-p-80{padding:80px!important}
.xs-pt-5{padding-top:5px!important}
.xs-pt-10{padding-top:10px!important}
.xs-pt-15{padding-top:15px!important}
.xs-pt-20{padding-top:20px!important}
.xs-pt-25{padding-top:25px!important}
.xs-pt-30{padding-top:30px!important}
.xs-pt-35{padding-top:35px!important}
.xs-pt-40{padding-top:40px!important}
.xs-pt-45{padding-top:45px!important}
.xs-pt-50{padding-top:50px!important}
.xs-pt-55{padding-top:55px!important}
.xs-pt-60{padding-top:60px!important}
.xs-pt-65{padding-top:65px!important}
.xs-pt-70{padding-top:70px!important}
.xs-pt-75{padding-top:75px!important}
.xs-pt-80{padding-top:80px!important}
.xs-pt-85{padding-top:85px!important}
.xs-pt-90{padding-top:90px!important}
.xs-pt-95{padding-top:95px!important}
.xs-pt-100{padding-top:100px!important}
.xs-pt-105{padding-top:105px!important}
.xs-pt-110{padding-top:110px!important}
.xs-pt-115{padding-top:115px!important}
.xs-pt-120{padding-top:120px!important}
.xs-pt-125{padding-top:125px!important}
.xs-pt-130{padding-top:130px!important}
.xs-pt-135{padding-top:135px!important}
.xs-pt-140{padding-top:140px!important}
.xs-pt-145{padding-top:145px!important}
.xs-pt-150{padding-top:150px!important}
.xs-pt-155{padding-top:155px!important}
.xs-pt-160{padding-top:160px!important}
.xs-pt-165{padding-top:165px!important}
.xs-pt-170{padding-top:170px!important}
.xs-pt-175{padding-top:175px!important}
.xs-pt-180{padding-top:180px!important}
.xs-pt-185{padding-top:185px!important}
.xs-pt-190{padding-top:190px!important}
.xs-pt-195{padding-top:195px!important}
.xs-pt-200{padding-top:200px!important}
.xs-pt-260{padding-top:260px!important}
.xs-pb-5{padding-bottom:5px!important}
.xs-pb-10{padding-bottom:10px!important}
.xs-pb-15{padding-bottom:15px!important}
.xs-pb-20{padding-bottom:20px!important}
.xs-pb-25{padding-bottom:25px!important}
.xs-pb-30{padding-bottom:30px!important}
.xs-pb-35{padding-bottom:35px!important}
.xs-pb-40{padding-bottom:40px!important}
.xs-pb-45{padding-bottom:45px!important}
.xs-pb-50{padding-bottom:50px!important}
.xs-pb-55{padding-bottom:55px!important}
.xs-pb-60{padding-bottom:60px!important}
.xs-pb-65{padding-bottom:65px!important}
.xs-pb-70{padding-bottom:70px!important}
.xs-pb-75{padding-bottom:75px!important}
.xs-pb-80{padding-bottom:80px!important}
.xs-pb-85{padding-bottom:85px!important}
.xs-pb-90{padding-bottom:90px!important}
.xs-pb-95{padding-bottom:95px!important}
.xs-pb-100{padding-bottom:100px!important}
.xs-pb-105{padding-bottom:105px!important}
.xs-pb-110{padding-bottom:110px!important}
.xs-pb-115{padding-bottom:115px!important}
.xs-pb-120{padding-bottom:120px!important}
.xs-pb-125{padding-bottom:125px!important}
.xs-pb-130{padding-bottom:130px!important}
.xs-pb-135{padding-bottom:135px!important}
.xs-pb-140{padding-bottom:140px!important}
.xs-pb-145{padding-bottom:145px!important}
.xs-pb-150{padding-bottom:150px!important}
.xs-pb-155{padding-bottom:155px!important}
.xs-pb-160{padding-bottom:160px!important}
.xs-pb-165{padding-bottom:165px!important}
.xs-pb-170{padding-bottom:170px!important}
.xs-pb-175{padding-bottom:175px!important}
.xs-pb-180{padding-bottom:180px!important}
.xs-pb-185{padding-bottom:185px!important}
.xs-pb-190{padding-bottom:190px!important}
.xs-pb-195{padding-bottom:195px!important}
.xs-pb-200{padding-bottom:200px!important}
.xs-pl-5{padding-left:5px!important}
.xs-pl-10{padding-left:10px!important}
.xs-pl-15{padding-left:15px!important}
.xs-pl-20{padding-left:20px!important}
.xs-pl-25{padding-left:25px!important}
.xs-pl-30{padding-left:30px!important}
.xs-pl-35{padding-left:35px!important}
.xs-pl-40{padding-left:40px!important}
.xs-pl-45{padding-left:45px!important}
.xs-pl-50{padding-left:50px!important}
.xs-pl-55{padding-left:55px!important}
.xs-pl-60{padding-left:60px!important}
.xs-pl-65{padding-left:65px!important}
.xs-pl-70{padding-left:70px!important}
.xs-pl-75{padding-left:75px!important}
.xs-pl-80{padding-left:80px!important}
.xs-pl-85{padding-left:85px!important}
.xs-pl-90{padding-left:90px!important}
.xs-pl-95{padding-left:95px!important}
.xs-pl-100{padding-left:100px!important}
.xs-pl-105{padding-left:105px!important}
.xs-pl-110{padding-left:110px!important}
.xs-pl-115{padding-left:115px!important}
.xs-pl-120{padding-left:120px!important}
.xs-pl-125{padding-left:125px!important}
.xs-pl-130{padding-left:130px!important}
.xs-pl-135{padding-left:135px!important}
.xs-pl-140{padding-left:140px!important}
.xs-pl-145{padding-left:145px!important}
.xs-pl-150{padding-left:150px!important}
.xs-pl-155{padding-left:155px!important}
.xs-pl-160{padding-left:160px!important}
.xs-pl-165{padding-left:165px!important}
.xs-pl-170{padding-left:170px!important}
.xs-pl-175{padding-left:175px!important}
.xs-pl-180{padding-left:180px!important}
.xs-pl-185{padding-left:185px!important}
.xs-pl-190{padding-left:190px!important}
.xs-pl-195{padding-left:195px!important}
.xs-pl-200{padding-left:200px!important}
.xs-pr-5{padding-right:5px!important}
.xs-pr-10{padding-right:10px!important}
.xs-pr-15{padding-right:15px!important}
.xs-pr-20{padding-right:20px!important}
.xs-pr-25{padding-right:25px!important}
.xs-pr-30{padding-right:30px!important}
.xs-pr-35{padding-right:35px!important}
.xs-pr-40{padding-right:40px!important}
.xs-pr-45{padding-right:45px!important}
.xs-pr-50{padding-right:50px!important}
.xs-pr-55{padding-right:55px!important}
.xs-pr-60{padding-right:60px!important}
.xs-pr-65{padding-right:65px!important}
.xs-pr-70{padding-right:70px!important}
.xs-pr-75{padding-right:75px!important}
.xs-pr-80{padding-right:80px!important}
.xs-pr-85{padding-right:85px!important}
.xs-pr-90{padding-right:90px!important}
.xs-pr-95{padding-right:95px!important}
.xs-pr-100{padding-right:100px!important}
.xs-pr-105{padding-right:105px!important}
.xs-pr-110{padding-right:110px!important}
.xs-pr-115{padding-right:115px!important}
.xs-pr-120{padding-right:120px!important}
.xs-pr-125{padding-right:125px!important}
.xs-pr-130{padding-right:130px!important}
.xs-pr-135{padding-right:135px!important}
.xs-pr-140{padding-right:140px!important}
.xs-pr-145{padding-right:145px!important}
.xs-pr-150{padding-right:150px!important}
.xs-pr-155{padding-right:155px!important}
.xs-pr-160{padding-right:160px!important}
.xs-pr-165{padding-right:165px!important}
.xs-pr-170{padding-right:170px!important}
.xs-pr-175{padding-right:175px!important}
.xs-pr-180{padding-right:180px!important}
.xs-pr-185{padding-right:185px!important}
.xs-pr-190{padding-right:190px!important}
.xs-pr-195{padding-right:195px!important}
.xs-pr-200{padding-right:200px!important}
}

@media (max-width: 768px) {
.md-fw200 {font-weight: 200 !important;}
.md-fw300 {font-weight: 300 !important;}
.md-fw400 {font-weight: 400 !important;}
.md-fw500 {font-weight: 500 !important;}
.md-fw600 {font-weight: 600 !important;}
.md-fw700 {font-weight: 700 !important;}

.md-ls1 {letter-spacing: 1px !important;}
.md-ls2 {letter-spacing: 2px !important;}
.md-ls3 {letter-spacing: 3px !important;}
.md-ls4 {letter-spacing: 4px !important;}
.md-ls5 {letter-spacing: 5px !important;}

.md-fz-13 {font-size: 13px !important;}
.md-fz-15 {font-size: 15px !important;}
.md-fz-16 {font-size: 16px !important;}
.md-fz-18 {font-size: 18px !important;}
.md-fz-20 {font-size: 20px !important;}
.md-fz-30 {font-size: 30px !important;}
.md-fz-36 {font-size: 36px !important;}
.md-fz-48 {font-size: 48px !important;}

/*PADDING AND MARGIN DECLARE*/
.md-mt-5{margin-top:5px!important}
.md-mt-10{margin-top:10px!important}
.md-mt-15{margin-top:15px!important}
.md-mt-20{margin-top:20px!important}
.md-mt-25{margin-top:25px!important}
.md-mt-30{margin-top:30px!important}
.md-mt-35{margin-top:35px!important}
.md-mt-40{margin-top:40px!important}
.md-mt-45{margin-top:45px!important}
.md-mt-50{margin-top:50px!important}
.md-mt-55{margin-top:55px!important}
.md-mt-60{margin-top:60px!important}
.md-mt-65{margin-top:65px!important}
.md-mt-70{margin-top:70px!important}
.md-mt-75{margin-top:75px!important}
.md-mt-80{margin-top:80px!important}
.md-mt-85{margin-top:85px!important}
.md-mt-90{margin-top:90px!important}
.md-mt-95{margin-top:95px!important}
.md-mt-100{margin-top:100px!important}
.md-mt-105{margin-top:105px!important}
.md-mt-110{margin-top:110px!important}
.md-mt-115{margin-top:115px!important}
.md-mt-120{margin-top:120px!important}
.md-mt-125{margin-top:125px!important}
.md-mt-130{margin-top:130px!important}
.md-mt-135{margin-top:135px!important}
.md-mt-140{margin-top:140px!important}
.md-mt-145{margin-top:145px!important}
.md-mt-150{margin-top:150px!important}
.md-mt-155{margin-top:155px!important}
.md-mt-160{margin-top:160px!important}
.md-mt-165{margin-top:165px!important}
.md-mt-170{margin-top:170px!important}
.md-mt-175{margin-top:175px!important}
.md-mt-180{margin-top:180px!important}
.md-mt-185{margin-top:185px!important}
.md-mt-190{margin-top:190px!important}
.md-mt-195{margin-top:195px!important}
.md-mt-200{margin-top:200px!important}
.md-mb-5{margin-bottom:5px!important}
.md-mb-10{margin-bottom:10px!important}
.md-mb-15{margin-bottom:15px!important}
.md-mb-20{margin-bottom:20px!important}
.md-mb-25{margin-bottom:25px!important}
.md-mb-30{margin-bottom:30px!important}
.md-mb-35{margin-bottom:35px!important}
.md-mb-40{margin-bottom:40px!important}
.md-mb-45{margin-bottom:45px!important}
.md-mb-50{margin-bottom:50px!important}
.md-mb-55{margin-bottom:55px!important}
.md-mb-60{margin-bottom:60px!important}
.md-mb-65{margin-bottom:65px!important}
.md-mb-70{margin-bottom:70px!important}
.md-mb-75{margin-bottom:75px!important}
.md-mb-80{margin-bottom:80px!important}
.md-mb-85{margin-bottom:85px!important}
.md-mb-90{margin-bottom:90px!important}
.md-mb-95{margin-bottom:95px!important}
.md-mb-100{margin-bottom:100px!important}
.md-mb-105{margin-bottom:105px!important}
.md-mb-110{margin-bottom:110px!important}
.md-mb-115{margin-bottom:115px!important}
.md-mb-120{margin-bottom:120px!important}
.md-mb-125{margin-bottom:125px!important}
.md-mb-130{margin-bottom:130px!important}
.md-mb-135{margin-bottom:135px!important}
.md-mb-140{margin-bottom:140px!important}
.md-mb-145{margin-bottom:145px!important}
.md-mb-150{margin-bottom:150px!important}
.md-mb-155{margin-bottom:155px!important}
.md-mb-160{margin-bottom:160px!important}
.md-mb-165{margin-bottom:165px!important}
.md-mb-170{margin-bottom:170px!important}
.md-mb-175{margin-bottom:175px!important}
.md-mb-180{margin-bottom:180px!important}
.md-mb-185{margin-bottom:185px!important}
.md-mb-190{margin-bottom:190px!important}
.md-mb-195{margin-bottom:195px!important}
.md-mb-200{margin-bottom:200px!important}
.md-ml-5{margin-left:5px!important}
.md-ml-10{margin-left:10px!important}
.md-ml-15{margin-left:15px!important}
.md-ml-20{margin-left:20px!important}
.md-ml-25{margin-left:25px!important}
.md-ml-30{margin-left:30px!important}
.md-ml-35{margin-left:35px!important}
.md-ml-40{margin-left:40px!important}
.md-ml-45{margin-left:45px!important}
.md-ml-50{margin-left:50px!important}
.md-ml-55{margin-left:55px!important}
.md-ml-60{margin-left:60px!important}
.md-ml-65{margin-left:65px!important}
.md-ml-70{margin-left:70px!important}
.md-ml-75{margin-left:75px!important}
.md-ml-80{margin-left:80px!important}
.md-ml-85{margin-left:85px!important}
.md-ml-90{margin-left:90px!important}
.md-ml-95{margin-left:95px!important}
.md-ml-100{margin-left:100px!important}
.md-ml-105{margin-left:105px!important}
.md-ml-110{margin-left:110px!important}
.md-ml-115{margin-left:115px!important}
.md-ml-120{margin-left:120px!important}
.md-ml-125{margin-left:125px!important}
.md-ml-130{margin-left:130px!important}
.md-ml-135{margin-left:135px!important}
.md-ml-140{margin-left:140px!important}
.md-ml-145{margin-left:145px!important}
.md-ml-150{margin-left:150px!important}
.md-ml-155{margin-left:155px!important}
.md-ml-160{margin-left:160px!important}
.md-ml-165{margin-left:165px!important}
.md-ml-170{margin-left:170px!important}
.md-ml-175{margin-left:175px!important}
.md-ml-180{margin-left:180px!important}
.md-ml-185{margin-left:185px!important}
.md-ml-190{margin-left:190px!important}
.md-ml-195{margin-left:195px!important}
.md-ml-200{margin-left:200px!important}
.md-mr-5{margin-right:5px!important}
.md-mr-10{margin-right:10px!important}
.md-mr-15{margin-right:15px!important}
.md-mr-20{margin-right:20px!important}
.md-mr-25{margin-right:25px!important}
.md-mr-30{margin-right:30px!important}
.md-mr-35{margin-right:35px!important}
.md-mr-40{margin-right:40px!important}
.md-mr-45{margin-right:45px!important}
.md-mr-50{margin-right:50px!important}
.md-mr-55{margin-right:55px!important}
.md-mr-60{margin-right:60px!important}
.md-mr-65{margin-right:65px!important}
.md-mr-70{margin-right:70px!important}
.md-mr-75{margin-right:75px!important}
.md-mr-80{margin-right:80px!important}
.md-mr-85{margin-right:85px!important}
.md-mr-90{margin-right:90px!important}
.md-mr-95{margin-right:95px!important}
.md-mr-100{margin-right:100px!important}
.md-mr-105{margin-right:105px!important}
.md-mr-110{margin-right:110px!important}
.md-mr-115{margin-right:115px!important}
.md-mr-120{margin-right:120px!important}
.md-mr-125{margin-right:125px!important}
.md-mr-130{margin-right:130px!important}
.md-mr-135{margin-right:135px!important}
.md-mr-140{margin-right:140px!important}
.md-mr-145{margin-right:145px!important}
.md-mr-150{margin-right:150px!important}
.md-mr-155{margin-right:155px!important}
.md-mr-160{margin-right:160px!important}
.md-mr-165{margin-right:165px!important}
.md-mr-170{margin-right:170px!important}
.md-mr-175{margin-right:175px!important}
.md-mr-180{margin-right:180px!important}
.md-mr-185{margin-right:185px!important}
.md-mr-190{margin-right:190px!important}
.md-mr-195{margin-right:195px!important}
.md-mr-200{margin-right:200px!important}
.md-p-10{padding:10px!important}
.md-p-15{padding:15px!important}
.md-p-20{padding:20px!important}
.md-p-25{padding:25px!important}
.md-p-30{padding:30px!important}
.md-p-50{padding:50px!important}
.md-p-80{padding:80px!important}
.md-pt-5{padding-top:5px!important}
.md-pt-10{padding-top:10px!important}
.md-pt-15{padding-top:15px!important}
.md-pt-20{padding-top:20px!important}
.md-pt-25{padding-top:25px!important}
.md-pt-30{padding-top:30px!important}
.md-pt-35{padding-top:35px!important}
.md-pt-40{padding-top:40px!important}
.md-pt-45{padding-top:45px!important}
.md-pt-50{padding-top:50px!important}
.md-pt-55{padding-top:55px!important}
.md-pt-60{padding-top:60px!important}
.md-pt-65{padding-top:65px!important}
.md-pt-70{padding-top:70px!important}
.md-pt-75{padding-top:75px!important}
.md-pt-80{padding-top:80px!important}
.md-pt-85{padding-top:85px!important}
.md-pt-90{padding-top:90px!important}
.md-pt-95{padding-top:95px!important}
.md-pt-100{padding-top:100px!important}
.md-pt-105{padding-top:105px!important}
.md-pt-110{padding-top:110px!important}
.md-pt-115{padding-top:115px!important}
.md-pt-120{padding-top:120px!important}
.md-pt-125{padding-top:125px!important}
.md-pt-130{padding-top:130px!important}
.md-pt-135{padding-top:135px!important}
.md-pt-140{padding-top:140px!important}
.md-pt-145{padding-top:145px!important}
.md-pt-150{padding-top:150px!important}
.md-pt-155{padding-top:155px!important}
.md-pt-160{padding-top:160px!important}
.md-pt-165{padding-top:165px!important}
.md-pt-170{padding-top:170px!important}
.md-pt-175{padding-top:175px!important}
.md-pt-180{padding-top:180px!important}
.md-pt-185{padding-top:185px!important}
.md-pt-190{padding-top:190px!important}
.md-pt-195{padding-top:195px!important}
.md-pt-200{padding-top:200px!important}
.md-pt-260{padding-top:260px!important}
.md-pb-5{padding-bottom:5px!important}
.md-pb-10{padding-bottom:10px!important}
.md-pb-15{padding-bottom:15px!important}
.md-pb-20{padding-bottom:20px!important}
.md-pb-25{padding-bottom:25px!important}
.md-pb-30{padding-bottom:30px!important}
.md-pb-35{padding-bottom:35px!important}
.md-pb-40{padding-bottom:40px!important}
.md-pb-45{padding-bottom:45px!important}
.md-pb-50{padding-bottom:50px!important}
.md-pb-55{padding-bottom:55px!important}
.md-pb-60{padding-bottom:60px!important}
.md-pb-65{padding-bottom:65px!important}
.md-pb-70{padding-bottom:70px!important}
.md-pb-75{padding-bottom:75px!important}
.md-pb-80{padding-bottom:80px!important}
.md-pb-85{padding-bottom:85px!important}
.md-pb-90{padding-bottom:90px!important}
.md-pb-95{padding-bottom:95px!important}
.md-pb-100{padding-bottom:100px!important}
.md-pb-105{padding-bottom:105px!important}
.md-pb-110{padding-bottom:110px!important}
.md-pb-115{padding-bottom:115px!important}
.md-pb-120{padding-bottom:120px!important}
.md-pb-125{padding-bottom:125px!important}
.md-pb-130{padding-bottom:130px!important}
.md-pb-135{padding-bottom:135px!important}
.md-pb-140{padding-bottom:140px!important}
.md-pb-145{padding-bottom:145px!important}
.md-pb-150{padding-bottom:150px!important}
.md-pb-155{padding-bottom:155px!important}
.md-pb-160{padding-bottom:160px!important}
.md-pb-165{padding-bottom:165px!important}
.md-pb-170{padding-bottom:170px!important}
.md-pb-175{padding-bottom:175px!important}
.md-pb-180{padding-bottom:180px!important}
.md-pb-185{padding-bottom:185px!important}
.md-pb-190{padding-bottom:190px!important}
.md-pb-195{padding-bottom:195px!important}
.md-pb-200{padding-bottom:200px!important}
.md-pl-5{padding-left:5px!important}
.md-pl-10{padding-left:10px!important}
.md-pl-15{padding-left:15px!important}
.md-pl-20{padding-left:20px!important}
.md-pl-25{padding-left:25px!important}
.md-pl-30{padding-left:30px!important}
.md-pl-35{padding-left:35px!important}
.md-pl-40{padding-left:40px!important}
.md-pl-45{padding-left:45px!important}
.md-pl-50{padding-left:50px!important}
.md-pl-55{padding-left:55px!important}
.md-pl-60{padding-left:60px!important}
.md-pl-65{padding-left:65px!important}
.md-pl-70{padding-left:70px!important}
.md-pl-75{padding-left:75px!important}
.md-pl-80{padding-left:80px!important}
.md-pl-85{padding-left:85px!important}
.md-pl-90{padding-left:90px!important}
.md-pl-95{padding-left:95px!important}
.md-pl-100{padding-left:100px!important}
.md-pl-105{padding-left:105px!important}
.md-pl-110{padding-left:110px!important}
.md-pl-115{padding-left:115px!important}
.md-pl-120{padding-left:120px!important}
.md-pl-125{padding-left:125px!important}
.md-pl-130{padding-left:130px!important}
.md-pl-135{padding-left:135px!important}
.md-pl-140{padding-left:140px!important}
.md-pl-145{padding-left:145px!important}
.md-pl-150{padding-left:150px!important}
.md-pl-155{padding-left:155px!important}
.md-pl-160{padding-left:160px!important}
.md-pl-165{padding-left:165px!important}
.md-pl-170{padding-left:170px!important}
.md-pl-175{padding-left:175px!important}
.md-pl-180{padding-left:180px!important}
.md-pl-185{padding-left:185px!important}
.md-pl-190{padding-left:190px!important}
.md-pl-195{padding-left:195px!important}
.md-pl-200{padding-left:200px!important}
.md-pr-5{padding-right:5px!important}
.md-pr-10{padding-right:10px!important}
.md-pr-15{padding-right:15px!important}
.md-pr-20{padding-right:20px!important}
.md-pr-25{padding-right:25px!important}
.md-pr-30{padding-right:30px!important}
.md-pr-35{padding-right:35px!important}
.md-pr-40{padding-right:40px!important}
.md-pr-45{padding-right:45px!important}
.md-pr-50{padding-right:50px!important}
.md-pr-55{padding-right:55px!important}
.md-pr-60{padding-right:60px!important}
.md-pr-65{padding-right:65px!important}
.md-pr-70{padding-right:70px!important}
.md-pr-75{padding-right:75px!important}
.md-pr-80{padding-right:80px!important}
.md-pr-85{padding-right:85px!important}
.md-pr-90{padding-right:90px!important}
.md-pr-95{padding-right:95px!important}
.md-pr-100{padding-right:100px!important}
.md-pr-105{padding-right:105px!important}
.md-pr-110{padding-right:110px!important}
.md-pr-115{padding-right:115px!important}
.md-pr-120{padding-right:120px!important}
.md-pr-125{padding-right:125px!important}
.md-pr-130{padding-right:130px!important}
.md-pr-135{padding-right:135px!important}
.md-pr-140{padding-right:140px!important}
.md-pr-145{padding-right:145px!important}
.md-pr-150{padding-right:150px!important}
.md-pr-155{padding-right:155px!important}
.md-pr-160{padding-right:160px!important}
.md-pr-165{padding-right:165px!important}
.md-pr-170{padding-right:170px!important}
.md-pr-175{padding-right:175px!important}
.md-pr-180{padding-right:180px!important}
.md-pr-185{padding-right:185px!important}
.md-pr-190{padding-right:190px!important}
.md-pr-195{padding-right:195px!important}
.md-pr-200{padding-right:200px!important}
}